.ss5-section {
  padding: 20px 0;
}
.item-list-manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
}

.item-list-manager .img-home-kh img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.name-manager {
  text-transform: uppercase;
  margin: 0;
  padding: 5px 0;
}
.dia-chi {
  text-transform: capitalize;
  margin: 0;
  font-size: 14px;
  padding: 5px 0 5px 0;
}
.five-star {
  width: 85px;
  height: 17px;
}

.list-manager {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
  margin: auto;
}
.clock {
  background-image: linear-gradient(
    286deg,
    rgb(253, 251, 251),
    rgb(227, 227, 227)
  );
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
}
.stopwatch div div {
  height: 60px;
  width: 60px;
  background-color: #666666;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  line-height: 56px;
}
.ss6-section .sale-off {
  object-fit: contain;
  overflow: unset;
}
.stopwatch div div p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.stopwatch {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.stopwatch div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.stopwatch div:nth-child(3) {
  padding: 0 6px 0 3px;
}
.stopwatch div:nth-child(2) {
  padding: 0 3px 0 6px;
}
form {
  width: 100%;
}
form .form-group input::placeholder {
  color: black;
  font-size: 14px;
}
.ss6-section {
  margin: auto;
  overflow: hidden;
}
.ss6-section .listed-price {
  margin-bottom: 0;
  padding-top: 10px;
}
.ss6-section .sale-ss6 .img-and-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ss6-section .sale-ss6 .img-and-slider div {
  width: 200px;
  height: 200px;
  padding: 0 5px;
}
.ss6-section .sale-ss6 .img-and-slider div img {
  width: 200px;
  height: 200px;
}
.ss6-section .clock .main-button i {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: -60px;
  font-size: 20px;
  color: #999;
  transform: translate(0%, -50%);
  animation: slider 0.5s linear infinite;
}
.content-bottom-clock {
  font-size: 13px;
  text-align: center;
  margin: 35px 0 30px 0;
}
.clock .main-button {
  margin-top: 20px;
  width: 100px;
}
.ss6-section .content-ss1 .guarantee {
  color: #999;
  text-align: center;
  padding-bottom: 10px;
}

.ss6-section .content-ss1 {
  color: #fff;
  text-align: center;
}
.slider-ss6 {
  position: relative;
}
.slider-ss6 .icon-control {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: black;
  z-index: 9;
}
.icon-control-left {
  left: 120px;
  font-size: 20px;
}
.icon-control-right {
  left: 280px;
  font-size: 20px;
}
.text-bottom {
  color: #bdbdbd;
  text-align: center;
  margin-top: 15px;
}
.sale-ss6 .persent-sale p:nth-child(2) {
  right: -125px;
  top: 125px;
}
.sale-ss6 .persent-sale {
  right: 0px;
}
.fixed {
  position: fixed;
  width: fit-content;
  z-index: 20;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 991px) {
  .ss6-section .container {
    display: grid;
    grid-template-columns: 100%;
  }
  .sale-ss6 {
    padding-bottom: 30px;
    max-width: 450px;
    margin: auto;
  }
  .clock {
    grid-row: 2;
    max-width: 450px;
    margin: auto;
  }
}
@media (max-width: 550px) {
  .sale-ss6 {
    padding-bottom: 30px;
    width: 100%;
    margin: auto;
  }
  .slider-ss6 .icon-control {
    display: none !important;
  }
  .img-and-slider {
    flex-direction: column;
  }
  .img-and-slider div {
    width: 100%;
  }
  .sale-ss6 img {
    width: 100%;
  }
  .ss6-section .sale-ss6 .img-and-slider div {
    width: 100%;
    height: 300px;
    padding: 5px 0;
  }
  .ss6-section .sale-ss6 .img-and-slider div img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 991px) {
  .ss5-section .list-manager {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: auto;
  }
  .item-list-manager .img-home-kh {
    width: 100%;
    height: 150px;
  }
  .ss6-section .container {
    display: grid;
    grid-template-columns: 400px 1fr;
  }
}
@media (min-width: 550px) and (max-width: 991px) {
  .ss5-section .list-manager {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .item-list-manager .img-home-kh {
    width: 100%;
    height: 250px;
  }
}
